<section class="slice slice-lg bg-gradient-dark" data-offset-top="#header-main">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 align-self-center">
                <p class="text-white">Computer scientist aspirants, meet Mrs. Augusta Ada King, Countess of Lovelace, aka "Ada
                    Lovelace!" Why have we chosen Mrs. Lovelace to be our namesake you may ask? Well, buckle up and let
                    us teach you some brief history! Now hold up, I know what you may
                    be thinking right about now. This lady has an old-timey portrait, did they even have electricity
                    when she was alive?! Let us explain. You see, before Nikola Tesla and Thomas Edison showed us
                    all how to efficiently harness the power of Zeus, Ada Lovelace was very into math. After meeting a
                    man named Charles Babbage, he was so impressed by her mad math skills that he invited her to check
                    out his difference engine.</p>
            </div>
            <div class="col-xl-4">
                <div class="card overflow-hidden" data-animate-hover="2">
                    <div class="overflow-hidden">
                        <div class="animate-this">
                            <a href="#">
                                <img alt="Image placeholder"
                                    src="../../../../assets/img/portraits/Ada_Lovelace_Portrait.jpg"
                                    class="card-img-top">
                            </a>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-2">Ada Lovelace</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4">
                    <div class="card overflow-hidden" data-animate-hover="2">
                        <div class="overflow-hidden">
                            <div class="animate-this">
                                <a href="#">
                                    <img alt="Image placeholder"
                                        src="../../../../assets/img/Babbage_Difference_Engine.jpg" class="card-img-top">
                                </a>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title mb-2">The Difference Engine, recreated by The London Science Museum
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 align-self-center">
                    <p class="text-white">As you can see to the left, the difference engine was an actual machine. What does it do? Simple.
                        It creates a table of answers for sequencial inputs to a function. Huh? It's a calculator! You
                        set it up for a function, and it gives you an answer table.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 align-self-center">
                    <p class="text-white">So, Ada being the math lover she was, became good friends with Mr. Babbage. Later on, Babbage
                        designed a new device he dubbed the "Analytical Engine." This device can be described in today's
                        terms as "Turing-complete," meaning it could do arithmetic, had integrated memory, and
                        incorporated control flow by being able to do conditional branching and looping. All of this was
                        done mechanically. Ready for the goosebumps? Charles Babbage designed the world's first
                        computer!
                    </p>
                </div>
                <div class="col-xl-4">
                    <div class="card overflow-hidden" data-animate-hover="2">
                        <div class="overflow-hidden">
                            <div class="animate-this">
                                <a href="#">
                                    <img alt="Image placeholder"
                                        src="../../../../assets/img/Babbage_Analytical_Engine_Plan_1840.jpg"
                                        class="card-img-top">
                                </a>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title mb-2">Plans for The Analytical Engine</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4">
                    <div class="card overflow-hidden" data-animate-hover="2">
                        <div class="overflow-hidden">
                            <div class="animate-this">
                                <a href="#">
                                    <img alt="Image placeholder"
                                        src="../../../../assets/img/Lovelace_First_Computer_Program.jpg"
                                        class="card-img-top">
                                </a>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title mb-2">The world's first computer program</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 align-self-center">
                    <p class="text-white">
                        How does this have anything to do with our girl Ada? Get ready for more goosebumps. You see,
                        general purpose computers don't do one explicit task, they have to be given instructions on what
                        to run at any given time. One might call these instructions a "program." Now Ada and Charles
                        being the good friends that they were, Babbage allowed Ada to review his plans for his new
                        computer. Not only did Ada figure out how it worked, but she devised and published a set of
                        instructions to run on it. In other words, Ada Lovelace wrote the world's first computer
                        program! And to us, that makes her the mother of computer science.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>