<div class="row">
    <div class="col">
        <div class="training-text-section">
            <p>
                Software engineers usually do not work with individual bits, but with bytes. What is a byte you might
                ask? Easy! 1 byte = 8 bits. When software developers write software, the smallest possible chunk of
                memory available to them is a byte. Remember, each memory address in RAM is used to access
                one bytes worth of data, not just one bit. As you will see shortly, we need a chunk of bits
                grouped together to represent most of the basic building blocks of programming, which we call primitive
                types. These primitive types are the basic units software engineers use to build any other objects that
                represent the information they are trying to represent and work with. Don't get caught up on this now,
                this idea will make sense when you learn about data structures, another pillar of computer science.
            </p>
        </div>
        <div class="training-text-section">
            <p>
                (Rest of the slide will have people drag and drop the correct order of byte, kilobyte, megabyte,
                gigabyte, and terabyte by size)
            </p>
        </div>
    </div>
</div>