<div class="row">
    <div class="col">
        <div class="training-text-section">
            <span>Before we get into how binary numbers work, we must understand how number systems work in
                general.</span>
            <span>Our normal number system is called the decimal system, and is base 10.</span>
            <span>This means each digit in a number can have an integer value of 0, 1, 2, 3, 4, 5, 6, 7, 8, or 9.</span>
            <span>Notice that there are 10 choices for a digit's integer value, matching the base number.</span>
        </div>
        <div class="training-text-section">
            <span>The position of a digit in a number also determines the digit's value, along with its integer value.</span>
        </div>
        <div class="training-text-section d-flex justify-content-center">
            <span class="font-weight-bold">value = (integer value) x (base number) ^ (digit's position in number from right to left, starting at 0)</span>
        </div>
        <div class="training-text-section">
            <span (mouseover)="enableNextButton()">In the number 87, the digit 8's value = 8 x 10^1 = 8 x 10 = 80.</span>
        </div>
        <hr />
        <div class="training-text-section">
            <h5 class="font-weight-light">Your Turn!</h5>
        </div>
    </div>
</div>