<div class="row">
    <div class="col">
        <div class="training-text-section">
            <span>Before we get into how binary numbers work, we must understand how number systems work in general.</span>
            <span>Our normal decimal number system is base 10, which means each digit in a number can have an integer value from 0 to 9.</span>
        </div>
        <div class="training-text-section">
            <span>The value of a digit in a number is based on the power of whatever the base is.</span>
            <span>Knowing this, we can break down a base-10 number the following way:</span>
        </div>
        <div class="training-text-section d-flex justify-content-center my-5">
            <span class="font-weight-bold" (mouseover)="enableNextButton()">17,543 = (1 x 10^4) + (7 x 10^3) + (5 x 10^2) + (4 x 10^1) + (3 x 10^0)</span>
        </div>
        <div class="training-text-section">
            <span>Abstracting this out, each digit in a number = (its integer value) x (base number) ^ (digit's position in number)</span>
            <span>You then add up each digit's value to equal the value of the entire number you are representing.</span>
            <span>With this understanding, we are ready to learn the binary number system.</span>
        </div>
    </div>
</div>