<div class="row">
    <div class="col">
        <div class="training-text-section">
            The last of the primitive types have the important task of representing numbers in different ways. The most
            common numeric primitive type is the integer. The size of an integer is directly tied to the architecture.
            So for a 32-bit machine, the size of a standard integer is 32 bits / 8 bits per byte = 4 bytes. Any time an
            integer is created to store a value in a program, 4 bytes are allocated. Allo-what? Allocation is the term
            we use in computer science for the process of finding free memory and reserving it to store a certain type
            of variable! In a 64-bit machine, the size of an integer is double, so you get 8 bytes per integer.
            (Multiple choice question to figure out the max unsigned integer size on a 32-bit machine, showing
            calculation = number so they don’t have to come up with it from scratch)

        </div>
    </div>
</div>