<section class="slice slice-lg bg-gradient-dark" data-offset-top="#header-main">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h5 class="card-title mb-0">{{moduleTitle}}</h5>
                    </div>
                    <div class="col-4">
                        <app-lesson-progress-bar [exerciseNumber]="currentExerciseNumber" [totalExerciseCount]="totalExerciseCount"></app-lesson-progress-bar>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ng-content></ng-content>
            </div>
            <div class="card-footer">
                <div class="row align-items-center">
                    <div class="col-12">
                        <button type="button" class="btn btn-sm btn-primary float-left " (click)="previousExercise()" *ngIf="activeExcerciseIndex > 0">Previous</button>
                        <!-- <button type="button" class="btn btn-sm btn-primary float-right" (click)="nextExercise()" [disabled]="!nextButtonIsEnabled">Next</button> -->
                        <button type="button" class="btn btn-sm btn-primary float-right" (click)="nextExercise()">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>