<div class="row">
    <div class="col">
        <div class="training-text-section">
            Today, the UNICODE standard allows up to 4 bytes to represent a character, as 7 bits are simply not enough
            to encode all the special characters in every language, as well as all the emoji’s. That’s right! UNICODE is
            also used to represent all those :)’s you send to your friends too! Each emoji has a binary number
            associated with it because it’s treated just like any other character. Now that there are potentially 4
            bytes to store a character, there are naturally more than one character encoding to specify how to store the
            character across the bytes. The most common character encoding used and recognized by devices today is
            UTF-8. With UTF-8, your character takes up the smallest number of bytes needed to represent it, rather than
            every character always taking up 2 or 4 bytes, as the UTF-16 character encoding states (another common
            character encoding).
        </div>
    </div>
</div>