<div class="row">
    <div class="col">
        <div class="training-text-section">
            <h5 class="font-weight-light">Decode the message!</h5>
            <p>
                01000010 e 00100000 01110011 u r 01100101 00100000 01110100 01101111 00100000 01100100 r 01101001 n k
                00100000 01111001 01101111 u r 00100000 01101111 v 01100001 01101100 t 01101001 n e
            </p>
        </div>
        <div class="training-text-section">
            <label for="decoded-ascii-message">Decode each binary number into its ASCII character to uncover the
                message. Help: 00100000 are the spaces between the words!</label>
            <input id="decoded-ascii-message" type="text" class="form-control" />
        </div>
    </div>
</div>