<div class="row">
    <div class="col">
        <div class="training-text-section">
            <p>
                Why would anyone create a number system that only uses 2 integer values? Seems inconvenient right? Not
                to a computer! They run on electricity, which if you remember from science class, is basically a bunch
                of electrons moving very fast in a circuit. Because electricity moves so fast, a computer can perform
                calculations way faster than a human ever could. How does a computer store information? It depends on
                the hardware. In the CPU and RAM, it stores an electrical charge in a special circuit, kind of like a
                battery. When it needs to read the value stored, it simply checks if there is an electrical charge (On)
                or not (Off). Coming full circle, because a computer only knows two things, On or Off, it needs a number
                system it can perform any calculation using only two values. Sound familiar? It should, it's
                Binary! In computer science, we refer to a single unit that stores On or Off (1 or 0) as a bit. Bits are
                the basic building blocks of anything represented in a computer, and computers now have trillions of
                them. Next time you're playing or watching someone play a video game, just think that there are
                billions to trillions of bits switched On or Off that represent everything you see!
            </p>
        </div>
    </div>
</div>