<div class="row">
    <div class="col">
        <div class="training-text-section">
            <p>
                As mentioned previously, a bit is how a computer stores data. When the data needs to
                be read or written to the different parts of a computer, or processed in the CPU, it isn't done one bit
                at a time. This would be very inefficient and slow, even for a computer! The hardware architecture
                determines how many bits are operated on at once. Older computers
                were 32-bit, meaning they could only move around or process 32 bits at once. The size of their bus was
                32 bits wide, for example. Most computers now are 64-bit. There is something else very important this
                affects: the max number the computer can represent! RAM or the hard drive may have billions to trillions
                of bits available to store information, but remember the CPU has registers to perform the instructions on.
                The size of these registers is directly tied to the computer architecture, so in a 32-bit machine, a
                register has 32 bits. Therefore, the largest number a computer can work with is the largest binary
                number represented by 32 digits. Largest possible number: (2^32) - 1 = 4,294,967,295. We subtract 1
                because we have to be able to represent 0 with the bits too.
            </p>
        </div>
    </div>
</div>