<div class="row">
    <div class="col">
        <div class="training-text-section">
            <span>We're now ready to apply this number system knowledge to learn binary!</span>
        </div>
        <div class="training-text-section">
                <span>Guess what? The only new thing you need to know to understand binary is that it's base-2 instead of base-10.</span>
                <span>This means there are only two integer values a digit can have, 1 and 0.</span>
                <span>Using our knowledge of how number systems work, we can represent the number "13" in binary like this:</span>
            </div>
        <div class="training-text-section d-flex justify-content-center my-5">
            <span class="font-weight-bold">1101 = (1 x 2^3) + (1 x 2^2) + (0 x 2^1) + (1 x 2^0) = 13</span>
        </div>
        <div class="training-text-section">
            <span>Notice each digit in a binary number is a power of 2 (like each digit in a base-10 number is a power of 10).</span>
            <span>Since binary is a foundational pillar of computer science, you should remember the first few powers of 2, as you'll see them all the time:</span>
        </div>
        <div class="training-text-section my-1">
            <span class="font-weight-bold">0, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024</span>
        </div>
        <hr/>
        <div class="training-text-section">
            <h5 class="font-weight-light">Your Turn!</h5>
        </div>
    </div>
</div>