<app-lesson-module moduleTitle="Lesson 1 - The Basics">
    <!-- Put computer hardware excercises here first -->
    <app-computer-architecture-exercise1 *appExercise></app-computer-architecture-exercise1>
    <!-- <app-binary-exercise1 *appExercise></app-binary-exercise1>
    <app-binary-exercise2 *appExercise></app-binary-exercise2>
    <app-binary-exercise3 *appExercise></app-binary-exercise3>
    <app-bits-exercise1 *appExercise></app-bits-exercise1>
    <app-bits-exercise2 *appExercise></app-bits-exercise2> -->
</app-lesson-module>