<div class="row">
    <div class="col">
        <div class="training-text-section">
            Sometimes engineers need to multiply or divide a number by 2 or a power of 2 when working in the heart of
            systems. There is a very fast way to do this, called “bit shifting.” If you have the number 4 in binary:
            0100 and want to double it, all you need to do is “shift” the bits to the left, as the number 8 in binary
            is: 1000. If you needed to halve a value (divide it by 2), you’d shift to the right. The number 2 in binary
            is: 0010. Although not very commonly used day to day, bit shifting can be incredibly useful when a software
            design accommodates it well.
        </div>
    </div>
</div>