<div class="main-content">
  <section class="slice slice-lg bg-gradient-dark" data-offset-top="#header-main">
    <div class="container position-relative zindex-100">
      <div class="row row-grid justify-content-around align-items-center">
        <div class="col-lg-8">
          <div class="pt-6 text-center">
            <h1 class="text-white mb-3">Learn how things work under the hood</h1>
            <p class="lead text-white lh-180 w-75 mx-auto">Anyone can hack together a program or machine learning
              solution, but do you really understand how they work?</p>
            <p class="lead text-white lh-180 w-75 mx-auto">Let us teach you!</p>
            <a href="#" class="btn btn-white btn-white btn-icon rounded-pill hover-translate-y-n3 mt-4">
              <span class="btn-inner--text">Try a free lesson module</span>
              <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonials (v1) -->
  <section class="slice slice-lg">
    <div class="container">
      <div class="mb-5 text-center">
        <h3 class=" mt-4">Straight from the horse's mouth</h3>
        <div class="fluid-paragraph mt-3">
          <p class="lead lh-180">What others have said about learning with AdaLove.</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-11">
          <div class="swiper-js-container row justify-content-center">
            <div class="col-xl-8">
              <div class="swiper-container" data-swiper-items="1" data-swiper-space-between="0"
                data-swiper-sm-items="2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide p-4">
                    <!-- Testimonial entry 1 -->
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex align-items-center">
                          <div>
                            <img alt="Image placeholder" src="../../assets/img/theme/light/team-1-800x800.jpg"
                              class="avatar  rounded-circle">
                          </div>
                          <div class="pl-3">
                            <h5 class="h6 mb-0">Heather Wright</h5>
                            <small class="d-block text-muted">Google</small>
                          </div>
                        </div>
                        <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful design, and really
                          not hard to work with.Highly recommended for any kind on website.</p>
                        <span class="static-rating static-rating-sm">
                          <i class="star fas fa-star voted"></i>
                          <i class="star fas fa-star voted"></i>
                          <i class="star fas fa-star voted"></i>
                          <i class="star fas fa-star voted"></i>
                          <i class="star fas fa-star voted"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide p-4">
                    <!-- Testimonial entry 2 -->
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex align-items-center">
                          <div>
                            <img alt="Image placeholder" src="../../assets/img/theme/light/team-2-800x800.jpg"
                              class="avatar  rounded-circle">
                          </div>
                          <div class="pl-3">
                            <h5 class="h6 mb-0">Monroe Parker</h5>
                            <small class="d-block text-muted">Apple</small>
                          </div>
                        </div>
                        <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful design, and really
                          not hard to work with.Highly recommended for any kind on website.</p>
                        <span class="static-rating static-rating-sm">
                          <i class="star fas fa-star voted"></i>
                          <i class="star fas fa-star voted"></i>
                          <i class="star fas fa-star voted"></i>
                          <i class="star fas fa-star voted"></i>
                          <i class="star fas fa-star voted"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide p-4">
                    <!-- Testimonial entry 3 -->
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex align-items-center">
                          <div>
                            <img alt="Image placeholder" src="../../assets/img/theme/light/team-3-800x800.jpg"
                              class="avatar  rounded-circle">
                          </div>
                          <div class="pl-3">
                            <h5 class="h6 mb-0">John Sullivan</h5>
                            <small class="d-block text-muted">Amazon</small>
                          </div>
                        </div>
                        <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful design, and really
                          not hard to work with.Highly recommended for any kind on website.</p>
                        <span class="static-rating static-rating-sm">
                          <i class="star fas fa-star voted"></i>
                          <i class="star fas fa-star voted"></i>
                          <i class="star fas fa-star voted"></i>
                          <i class="star fas fa-star voted"></i>
                          <i class="star fas fa-star voted"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Navigation buttons -->
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              <!-- Pagination -->
              <div class="swiper-pagination w-100 pt-2 d-flex align-items-center justify-content-center swiper-pagination-clickable swiper-pagination-bullets"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>